<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="partials/partials.html :: head('Add Review')"></head>
<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.home.css">

<body>

    <nav th:insert="partials/partials.html :: navbar"></nav>

    <button onclick="goBack()" class="btn-primary" style="margin: 11px; background: black; color: #f4cdc1; border: none; border-radius: .25rem; position: absolute">Back</button>

    <h1>Add a Review</h1>

    <h3>*ENTER ACTIVITY BEING REVIEWED HERE*</h3>

    <form th:method="POST" th:action="@{/reviews/create}" th:object="${review}">
        <div>
            <label for="rating">Choose a Rating (1-5)</label>
            <select th:field="*{rating}" id="rating" name="rating">
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
                <option value="4">Four</option>
                <option value="5">Five</option>
            </select>
        </div>
        <div>
            <label for="description">Description:</label>
            <br>
            <textarea th:field="*{description}" name="content" id="description" cols="30" rows="10" placeholder="Please Enter Your Review... "></textarea>
        </div>
        <button type="submit">Submit Review</button>
    </form>

    <button>Cancel</button>

    <th:block th:insert="partials/partials.html :: jquery" />
    <th:block th:insert="partials/partials.html :: bootstrap-js" />
</body>
</html>