<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="partials/partials.html :: head('Add Review')"></head>
<body>

    <header th:insert="partials/partials.html :: header('CitySites')"></header>

    <nav th:insert="partials/partials.html :: navbar"></nav>

    <button>Back</button>

<!--    Site profile pic-->

<!--    user star rating-->

<!--    description of user experience-->

    <button>Submit Review</button>

    <button>Cancel</button>

    <th:block th:insert="partials/partials.html :: bootstrap-js" />
</body>
</html>