<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="partials/partials.html :: head('Add Activity')"></head>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<link rel="stylesheet" href="/css/activity-creation-map.css">
<body>

    <header th:insert="partials/partials.html :: header"></header>

    <nav th:insert="partials/partials.html :: navbar"></nav>

    <button onclick="goBack()">Back</button>

    <h1>Create an Activity</h1>

    <input
            id="pac-input"
            class="controls"
            type="text"
            placeholder="Search Box"
    />

    <div id="map"></div>

    <form th:method="POST" th:action="@{/activity/create}" th:object="${activity}">
        <div>
            <label for="name">Name</label>
            <br>
            <input th:field="*{name}" name="name" id="name" type="text" placeholder="Please Enter the Name of the Activity... ">
        </div>
        <div>
            <label for="description">Description</label>
            <br>
            <textarea th:field="*{description}" name="description" id="description" cols="30" rows="10" placeholder="Please Enter a Description... "></textarea>
        </div>
        <div>
            <label for="hours">Hours of Operation</label>
            <br>
            <input th:field="*{hours}" name="hours" id="hours" type="text" placeholder="Please Enter Hours of Operation... ">
        </div>
        <div>
            <label for="image">Image(s)</label>
            <input id="image" name="urls" type="url" placeholder="Please Enter an Image URL...">
            <button type="button" id="create-an-element">Add Another Image?</button>
        </div>
        <button>Create Activity</button>
    </form>

    <button>Cancel</button>

<!--    UNDER CONSTRUCTION-->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $("#create-an-element").click(function () {
                $(this).after('<br><input id="image" name="urls" type="url" placeholder="Please Enter an Image URL...">');
            });
        });
    </script>
    <script src="/js/map.js"></script>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <!--                                      DEPLOY KEY-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVEsV2nzoERURDW6R8-xPgTIjFOvdaCjw&callback=initAutocomplete&libraries=places&v=weekly" async></script>
    <!--                                          MAIN KEY-->
<!--    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRtNE8amCYAwBhK-MZ3PXH-jt8yctJHoI&callback=initAutocomplete&libraries=places&v=weekly" async></script>-->

</body>
</html>