<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="partials/partials.html :: head('Add Activity')"></head>
<link rel="stylesheet" href="/css/activity-creation-map.css">
<link rel="stylesheet" href="/css/button-styling.css">
<link rel="stylesheet" href="/css/main.css">

<body style="background: #f4cdc1;">

<nav th:insert="partials/partials.html :: navbar"></nav>

<button onclick="goBack()" class="btn-primary"
        style="margin: 11px; background: black; color: #f4cdc1; border: none; border-radius: .25rem; position: absolute">Back
</button>

<div class="row justify-content-center" style="margin-top: 29px;">
    <div class="col-xl-5 offset-xl-0">
        <h1 class="text-center" style="font-size: 47px;font-weight: bold;">Create an Activity</h1>
    </div>
</div>

<input
        id="pac-input"
        class="controls"
        type="text"
        placeholder="Search Box"
/>

<form th:method="POST" th:action="@{/activity/create}" th:object="${activity}">
    <div>
        <input th:field="*{latitude}" name="latitude" id="latitude" type="hidden">
        <input th:field="*{longitude}" name="longitude" id="longitude" type="hidden">
    </div>

    <div class="row justify-content-center">
        <div class="col-11 col-sm-11 col-md-11 col-lg-10 offset-sm-0 offset-md-0 offset-lg-0">
            <div id="map" style="height: 400px;margin-top: 9px; width: 100%"></div>
        </div>
    </div>

    <div class="row justify-content-center" style="margin-top: 8px;">
        <div class="col-11 col-sm-10 col-md-8 col-lg-8 offset-lg-0 d-flex flex-column align-items-center">
            <label for="name" class="form-label">Name of Activity</label>
            <input th:field="*{name}" name="name" id="name" class="form-control" type="text" placeholder="Enter Name of Activity"
                   style="text-align: center;width: 100%;">

            <label for="hours" class="form-label">Hours of Operation</label>
            <input th:field="*{hours}" name="hours" id="hours" class="form-control" type="text"
                   placeholder="Enter Hours of Operation" style="width: 100%;text-align: center;">

            <label for="description" class="form-label">Description</label>
            <textarea th:field="*{description}" name="description" id="description" class="form-control"
                      style="height: 150px;text-align: center;" placeholder="Enter Description of Activity..."></textarea>

            <label for="image" class="form-label">Image(s)</label>
            <input id="image" name="urls" class="form-control" type="url"
                   style="width: 100%;margin-bottom: 9px;text-align: center;" placeholder="Enter Image URL">

            <button id="create-an-element" class="btn darkButtonStyle" type="button">Add Another Image?</button>
        </div>
    </div>

    <div class="row justify-content-center" style="margin-top: 8px;margin-bottom: 10px;">
        <div class="col-lg-5 d-flex justify-content-center">
            <button class="btn btn-primary darkButtonStyle" type="submit">Create Activity</button>
        </div>
    </div>
</form>

<nav th:insert="partials/partials.html :: footer"></nav>

<th:block th:insert="partials/partials.html :: jquery"/>
<th:block th:insert="partials/partials.html :: bootstrap-js"/>

<script src="/js/add-inputs.js"></script>
<script src="/js/activity-creation-map.js"></script>

<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<!--                                      DEPLOY KEY-->
<!--    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVEsV2nzoERURDW6R8-xPgTIjFOvdaCjw&callback=initAutocomplete&libraries=places&v=weekly" async></script>-->
<!--                                          MAIN KEY-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRtNE8amCYAwBhK-MZ3PXH-jt8yctJHoI&callback=initAutocomplete&libraries=places&v=weekly"
        async></script>

</body>
</html>