<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="partials/partials.html :: head('Add Activity')"></head>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<link rel="stylesheet" href="/css/activity-creation-map.css">
<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.home.css">

<body>

    <nav th:insert="partials/partials.html :: navbar"></nav>

    <button onclick="goBack()" class="btn-primary" style="margin: 11px; background: black; color: #f4cdc1; border: none; border-radius: .25rem; position: absolute">Back</button>

    <h1>Create an Activity</h1>

    <input
            id="pac-input"
            class="controls"
            type="text"
            placeholder="Search Box"
    />

    <div id="map"></div>

    <form th:method="POST" th:action="@{/activity/create}" th:object="${activity}">

<!--        Under Construction-->

        <div>
            <input th:field="*{latitude}" name="latitude" id="latitude" type="hidden">
            <input th:field="*{longitude}" name="longitude" id="longitude" type="hidden">
        </div>
        <div>
            <label for="name">Name</label>
            <br>
            <input th:field="*{name}" name="name" id="name" type="text" placeholder="Please Enter the Name of the Activity... ">
        </div>
        <div>
            <label for="description">Description</label>
            <br>
            <textarea th:field="*{description}" name="description" id="description" cols="30" rows="10" placeholder="Please Enter a Description... "></textarea>
        </div>
        <div>
            <label for="hours">Hours of Operation</label>
            <br>
            <input th:field="*{hours}" name="hours" id="hours" type="text" placeholder="Please Enter Hours of Operation... ">
        </div>
        <div>
            <label for="image">Image(s)</label>
            <input id="image" name="urls" type="url" placeholder="Please Enter an Image URL...">
            <button type="button" id="create-an-element">Add Another Image?</button>
        </div>
        <button>Create Activity</button>
    </form>

    <button>Cancel</button>

    <th:block th:insert="partials/partials.html :: jquery" />
    <th:block th:insert="partials/partials.html :: bootstrap-js" />
    <script src="/js/add-inputs.js"></script>
    <script src="/js/activity-creation-map.js"></script>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <!--                                      DEPLOY KEY-->
<!--        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVEsV2nzoERURDW6R8-xPgTIjFOvdaCjw&callback=initAutocomplete&libraries=places&v=weekly" async></script>-->
    <!--                                          MAIN KEY-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRtNE8amCYAwBhK-MZ3PXH-jt8yctJHoI&callback=initAutocomplete&libraries=places&v=weekly" async></script>

    <nav th:insert="partials/partials.html :: footer"></nav>

</body>
</html>