<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="partials/partials.html :: head('CitySites')"></head>
<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.home.css">

<body>

    <nav th:insert="partials/partials.html :: navbar"></nav>

    <button>Add a Review</button>

    <button>See All Reviews</button>

<!--    Site profile pic-->

<!--    heart button-->

<!--    star ratings-->

<!--    description of site-->


    <div>
        <h1> <span th:text="${activity.name}"></span></h1>
        <p th:text="${activity.hours}"></p>
        <p th:text="${activity.description}"></p>
        <p id="activityAddress"></p>
        <form th:action="@{'/activity/' + ${activity.id} + '/favorite'}" th:method="POST">
            <button type="submit">Favorite</button>
        </form>
    </div>

    <button onclick="goBack()" class="btn-primary" style="margin: 11px; background: black; color: #f4cdc1; border: none; border-radius: .25rem; position: absolute">Back</button>

    <th:block th:insert="partials/partials.html :: bootstrap-js" />
    <th:block th:insert="partials/partials.html :: jquery" />

    <script src="/js/keys.js"></script>
    <script src="/js/geocode-mapbox-utils.js"></script>
    <script th:inline="javascript">
        var activityId = [[${activity.id}]];

        var request = $.ajax({'url': '/api/activity/' + activityId});
        request.done(function (activity){
            reverseGeocode({lng: activity.longitude, lat: activity.latitude}, MAPBOX_API_TOKEN_PERSONAL).then(function (result) {
                document.getElementById("activityAddress").innerText = result;
            })
        })
    </script>
</body>
</html>