<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:insert="partials/partials.html :: head('CitySites')"></head>
<link rel="stylesheet" href="/css/details-css.css">

<style>
    .invisible {
        display: none;
    }
</style>

<body>

<nav th:insert="partials/partials.html :: navbar"></nav>

<button onclick="goBack()" class="btn btn-primary backButtonStyle">Back</button>

<h1 class="text-center">Activity Details</h1>

<div class="container">
    <div style="margin-top: 21px;">
        <div class="row">
            <h2 id="title" class="text-center" style="font-size: 35px;"><span th:text="${activity.name}"></span></h2>
            <div sec:authorize="isAuthenticated()" style="float: right">
                <form th:action="@{'/activity/' + ${activity.id} + '/favorite'}" th:method="POST">
                    <button type="submit" class="btn btn-primary darkButtonStyle mt-2">Favorite</button>
                </form>
            </div>
            <form th:action="@{'/reviews/create/' + ${activity.id}}">
                <button class="btn btn-primary darkButtonStyle mt-2" type="submit">Add a Review</button>
            </form>
            <form th:action="@{'/reviews/' + ${activity.id}}">
                <button class="btn btn-primary darkButtonStyle mt-2">See All Reviews</button>
            </form>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-6 d-flex flex-row flex-wrap" style="height: auto; padding: 0;">
                <div th:each="image, stat : ${images}" class="col-sm-6 col-lg-4 d-flex flex-column align-items-center" style="margin: 0px;padding: 10px;">
                    <img class="img-fluid" th:src="${image.imageUrl}">
                </div>
            </div>

            <div class="col-sm-8 col-md-4 col-lg-4 col-xl-4 text-center" style="height: auto;">
                <div class="text-center" id="info">
                    <p style="font-size: 20px">Hours: </p>
                    <p th:text="${activity.hours}"></p>
                    <hr>
                    <p style="font-size: 20px">Description: </p>
                    <p th:text="${activity.description}"></p>
                    <hr>

                    <!--                =====EDIT BUTTON=====-->
                    <div sec:authorize="isAuthenticated()">
                        <button id="hide" class="btn btn-primary darkButtonStyle">Edit activity</button>
                        <!--                =====DELETE BUTTON=====-->
                        <form th:action="@{'/activity/' + ${activity.id} + '/delete'}" th:method="POST">
                            <button type="submit" class="btn btn-primary darkButtonStyle">Delete</button>
                        </form>
                    </div>
                </div>
                <!--            =====EDIT FUNCTIONALITY=====-->

                <form class="invisible" th:action="@{'/activity/' + ${activity.id}}" id="edit" th:method="POST"
                      th:object="${activity}">
                    <div>
                        <label for="name" class="form-label">Edit Activity Name:</label>
                        <input class="form-control" th:field="*{name}" name="name" id="name" type="text" th:value="${name}">
                    </div>
                    <div>
                        <label for="hours" class="form-label">Edit Existing Hours:</label>
                        <input class="form-control" th:field="*{hours}" th:value="*{hours}" type="text" id="hours" name="hours">
                    </div>
                    <div>
                        <label for="description" class="form-label">Edit Description:</label>
                        <input class="form-control" th:field="*{description}" name="description" id="description" type="text" th:value="*{description}" cols="30" rows="10">
                    </div>
                    <div>
                        <label for="image" class="form-label">Add More Image(s):</label>
                        <input class="form-control" id="image" name="urls" type="url" placeholder="Please Enter an Image URL...">
                        <button type="button" id="create-an-element" class="btn btn-primary darkButtonStyle pt-2 mt-1">Add Another Image</button>
                    </div>
                    <button class="btn btn-primary darkButtonStyle mt-2">Submit</button>
                </form>
            </div>
        </div>
    </div>

</div>

<nav th:insert="partials/partials.html :: footer"></nav>

<th:block th:insert="partials/partials.html :: bootstrap-js"/>
<th:block th:insert="partials/partials.html :: jquery"/>

<script src="/keys.js"></script>
<script src="/js/geocode-mapbox-utils.js"></script>
<script src="/js/add-inputs.js"></script>
<script th:inline="javascript">
    var activityId = [[${activity.id}]];

    var request = $.ajax({'url': '/api/activity/' + activityId});
    request.done(function (activity) {
        reverseGeocode({lng: activity.longitude, lat: activity.latitude}, MAPBOX_API_TOKEN_PERSONAL).then(function (result) {
            document.getElementById("activityAddress").innerText = result;
        })
    })
    $('#hide').click(function (event) {
        event.preventDefault();
        $('#edit').toggleClass('invisible');
    });
</script>
</body>
</html>
