<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="partials/partials.html :: head('Favorites')"></head>
<link rel="stylesheet" href="/css/button-styling.css">

<body style="background: #f4cdc1;">

    <nav th:insert="partials/partials.html :: navbar"></nav>

    <button onclick="goBack()" class="btn-primary" style="margin: 11px; background: black; color: #f4cdc1; border: none; border-radius: .25rem; position: absolute">Back</button>

    <div class="container">

        <div class="row" style="margin-top: 21px;">
            <div class="col">
                <h1 class="text-center" style="font-family: Handlee, serif;font-weight: bold;font-size: 47.88px;">Favorites</h1>
            </div>
        </div>

        <div class="row d-flex flex-row flex-wrap">
<!--            <li th:each="favorite : ${favorites}">-->
<!--                <h1><span th:text="${favorite.name}"></span></h1>-->
<!--                <p id="lng" th:text="${favorite.longitude}"></p>-->
<!--                <p id="lat" th:text="${favorite.latitude}"></p>-->
<!--                <p id="activityAddress"></p>-->
<!--                <a th:href="@{'/activity/' + ${favorite.id}}">See Activity</a>-->
<!--            </li>-->
            <div th:each="favorite : ${favorites}" class="col-sm-6 col-lg-4 d-flex flex-column align-items-center" style="margin: 0px;padding: 10px;">
                <h3 class="text-center"><span th:text="${favorite.name}"></span></h3>
                <img class="img-fluid" th:each="image, stat :${favorite.activityImages}" th:unless="${stat.index > 1}" th:src="${image.imageUrl} ">
                <form th:action="@{'/activity/' + ${favorite.id}}">
                    <button class="darkButtonStyle">See Activity</button>
                </form>
            </div>
        </div>

    </div>

    <nav th:insert="partials/partials.html :: footer"></nav>

    <th:block th:insert="partials/partials.html :: jquery" />
    <th:block th:insert="partials/partials.html :: bootstrap-js" />

    <script src="/keys.js"></script>
    <script src="/js/geocode-mapbox-utils.js"></script>
<!--    <script>-->
<!--        $(document).ready(function (){-->
<!--            var favoritesLng = document.getElementById("lng").textContent;-->
<!--            var favoritesLat = document.getElementById("lat").textContent;-->

<!--            console.log(favoritesLng);-->
<!--            console.log(favoritesLat);-->

<!--            reverseGeocode({lng: favoritesLng, lat: favoritesLat}, MAPBOX_API_TOKEN_PERSONAL).then(function (result) {-->
<!--                document.getElementById("activityAddress").innerText = result;-->
<!--            })-->
<!--        })-->
<!--    </script>-->
</body>
</html>