<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="partials/partials.html :: head('Favorites')"></head>
<body>

    <header th:insert="partials/partials.html :: header"></header>

    <nav th:insert="partials/partials.html :: navbar"></nav>

    <button>Back</button>

<!--    profile picture-->

    <div>

        <h3>Favorites</h3>

        <div>

<!--            favorites-->

        </div>

    </div>

    <th:block th:insert="partials/partials.html :: bootstrap-js" />
</body>
</html>