<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:insert="partials/partials.html :: head('Favorites')"></head>

<body>

<nav th:insert="partials/partials.html :: navbar"></nav>

<button onclick="goBack()" class="btn btn-primary backButtonStyle">Back</button>

<div class="container">

    <h1 class="text-center">Favorites</h1>

    <div class="row d-flex flex-row flex-wrap">
        <!--            <li th:each="favorite : ${favorites}">-->
        <!--                <h1><span th:text="${favorite.name}"></span></h1>-->
        <!--                <p id="lng" th:text="${favorite.longitude}"></p>-->
        <!--                <p id="lat" th:text="${favorite.latitude}"></p>-->
        <!--                <p id="activityAddress"></p>-->
        <!--                <a th:href="@{'/activity/' + ${favorite.id}}">See Activity</a>-->
        <!--            </li>-->
        <div th:each="favorite : ${favorites}" class="col-sm-6 col-lg-4 d-flex flex-column align-items-center"
             style="margin: 0px;padding: 10px;">
            <h3 class="text-center"><span th:text="${favorite.name}"></span></h3>
            <img class="img-fluid" th:each="image, stat :${favorite.activityImages}" th:unless="${stat.index > 1}"
                 th:src="${image.imageUrl} ">
            <form th:action="@{'/activity/' + ${favorite.id}}">
                <button class="btn btn-primary darkButtonStyle mt-2">See Activity</button>
            </form>
            <div sec:authorize="isAuthenticated()">
                <div th:each="userFav, stat : ${favorite.userFavorites}" th:unless="${stat.index > 0}">
                    <div th:if="${#authentication.principal.id == userFav.id}">
                        <form th:action="@{'/activity/' + ${favorite.id} + '/favorite/' + ${userFav.id}}" th:method="POST">
                            <button class="btn btn-primary darkButtonStyle mt-2">Remove from Favorites</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<nav th:insert="partials/partials.html :: footer"></nav>

<th:block th:insert="partials/partials.html :: jquery"/>
<th:block th:insert="partials/partials.html :: bootstrap-js"/>

<script src="/keys.js"></script>
<script src="/js/geocode-mapbox-utils.js"></script>
<!--    <script>-->
<!--        $(document).ready(function (){-->
<!--            var favoritesLng = document.getElementById("lng").textContent;-->
<!--            var favoritesLat = document.getElementById("lat").textContent;-->

<!--            console.log(favoritesLng);-->
<!--            console.log(favoritesLat);-->

<!--            reverseGeocode({lng: favoritesLng, lat: favoritesLat}, MAPBOX_API_TOKEN_PERSONAL).then(function (result) {-->
<!--                document.getElementById("activityAddress").innerText = result;-->
<!--            })-->
<!--        })-->
<!--    </script>-->
</body>
</html>