<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="partials/partials.html :: head('Home')"></head>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<link rel="stylesheet" href="/css/citysites.css">

<body>

    <header th:insert="partials/partials.html :: header"></header>

    <nav th:insert="partials/partials.html :: navbar"></nav>

    <button onclick="goBack()">Back</button>

<!--    searchbar?-->
    <div style="border: 1px solid blue;">
        <div class="gcse-searchbox"></div>
    </div>

    <!--        Map-->
    <div id="map"></div>

<!--search bar probs-->

    <input
            id="pac-input"
            class="controls"
            type="text"
            placeholder="Search Box"
    />

    <script src="/js/map.js"></script>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVEsV2nzoERURDW6R8-xPgTIjFOvdaCjw&callback=initAutocomplete&libraries=places&v=weekly" async></script>
    <th:block th:insert="partials/partials.html :: bootstrap-js" />
</body>
</html>