<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="partials/partials.html :: head('Login')"></head>
<body>

  <header th:insert="partials/partials.html :: header"></header>

  <nav th:insert="partials/partials.html :: navbar"></nav>

  <h3>Log In</h3>

  <div th:if="${param.error}">
    Invalid Username and Password.
  </div>

  <div th:if="${param.logout}">
    You have been logged out.
  </div>


  <form th:action="@{/login}" method="post">
    <label for="username">Username</label>
    <input id="username" name="username" type="text" />
    <label for="password">Password</label>
    <input id="password" name="password" type="password" />
    <input type="submit" value="Log In" />
    <div>
      <a href="/register">Don't have an account? Register here!</a>
    </div>
  </form>

<!--  save username feature-->

<!--    forgot password link-->

<!--    don't have account link-->

  <th:block th:insert="partials/partials.html :: bootstrap-js" />
</body>
</html>