<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="partials/partials.html :: head('Profile')"></head>
<body>

    <header th:insert="partials/partials.html :: header"></header>

    <nav th:insert="partials/partials.html :: navbar"></nav>

<!--    profile picture-->
    <span th:text="${user.name}"></span>
    <span th:text="${user.username}"></span>
    <span th:text="${user.email}"></span>


<!--    details of user input?-->

    <button>Favorites</button>

    <div>

        <h3>Places Searched</h3>

        <div>

<!--            places searched-->

        </div>

    </div>

  <th:block th:insert="partials/partials.html :: bootstrap-js" />
</body>
</html>