<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="partials/partials.html :: head('Profile')"></head>

<body>
<link rel="stylesheet" href="/css/citysites.css">
<link rel="stylesheet" href="/css/button-styling.css">
<style>
    .invisible {
        display: none
    }
    #profilePic{
        height: 20px
    }
</style>

    <nav th:insert="partials/partials.html :: navbar"></nav>

    <button onclick="goBack()" class="btn-primary" style="margin: 11px; background: black; color: #f4cdc1; border: none; border-radius: .25rem; position: absolute">Back</button>

<!-- User information appended to the page-->

<div class="container" style="width: 100%;margin: auto auto;">
    <div style="padding: 15px;">
        <div class="row">
            <div class="col-xl-4 offset-xl-2">
                <div class="card">
                    <div class="card-body">
                        <div th:if="${user.getProfileImageUrl() != null}" class="d-flex flex-column align-items-center">
                            <img id="profilePic" th:src="${user.profileImageUrl}" class="rounded-circle" style="margin-bottom: 12px;">
                        </div>
                        <div th:if="${user.getProfileImageUrl() == null}" class="d-flex flex-column align-items-center">
                            Set Your Profile Pic in the Edit Profile
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <p>Hey <span th:text="${user.name}"></span>, Welcome back!</p>
                <p>Your current username is <span th:text="${user.username}"></span></p>
                <p>The current active email address we have for you is <span th:text="${user.email}"></span></p>
                <button id="hide" class="btn darkButtonStyle" type="button">Edit Profile</button>
                <form  class="invisible" th:action="@{/profile}" id="edit" th:method="POST" th:object="${user}">
                    <div>
                        <label for="username">Change your username</label>
                        <input  th:field="*{username}" name="username" id="username" type="text"  th:value="${user.username}">
                    </div>
                    <div>
                        <label for="email">Change your email address</label>
                        <input th:field="*{email}" name="email" id="email" type="text" th:value="*{email}">
                    </div>
                    <div>
                        <label for="name">Change your name</label>
                        <input th:value="*{name}" type="text" id="name" name="name">
                    </div>
                    <div>
                        <label for="image"> Profile Image</label>
                        <input th:field="*{profileImageUrl}" name="image" id="image" type="url" placeholder="Enter your image url here">
                    </div>
                    <button type="submit" class="darkButtonStyle">Submit</button>
                </form>
            </div>
        </div>
        <div class="row">
            <h3>Favorites</h3>

            <ul>
                <li th:each="favorite, stat : ${favorites}" th:unless="${stat.index < stat.size -3}">
                    <h1><span th:text="${favorite.name}"></span></h1>
                    <p th:text="${favorite.description}"></p>
                    <img th:each="image, stat :${favorite.activityImages}" th:unless="${stat.index > 1}" th:src="${image.imageUrl}">

<!--                    <a th:href="@{'/activity/' + ${favorite.id}}">See Activity</a>-->
                    <form th:action="@{'/activity/' + ${favorite.id}}">
                        <button type="submit" class="btn darkButtonStyle">See Activity</button>
                    </form>
                </li>
            </ul>

            <form th:action="@{/user/favorites}" th:method="GET">
                <button type="submit" class="btn darkButtonStyle">Favorites</button>
            </form>

        </div>
    </div>
</div>
<!--    <button id="hide">Edit Profile</button>-->
<!--    <div>-->
<!--        <div th:if="${user.getProfileImageUrl() != null}">-->
<!--            <img id="profilePic" th:src="${user.profileImageUrl}"></a></div>-->
<!--        <div th:if="${user.getProfileImageUrl() == null}">Set your profile pic below</div>-->
<!--        <p>Hey <span th:text="${user.name}"></span>, Welcome back!</p>-->
<!--        <p>Your current username is <span th:text="${user.username}"></span></p>-->
<!--        <p>The current active email address we have for you is <span th:text="${user.email}"></span></p>-->
<!--    </div>-->

<!--hidden edit form for the user to change their profile-->
<!--    <form  class="invisible" th:action="@{/profile}" id="edit" th:method="POST" th:object="${user}">-->
<!--        <div>-->
<!--            <label for="username"></label>-->
<!--            <input  th:field="*{username}" name="username" id="username" type="text"  th:value="${user.username}">-->
<!--        </div>-->
<!--        <div>-->
<!--            <label for="email">Change your email address</label>-->
<!--            <input th:field="*{email}" name="email" id="email" type="text" th:value="*{email}">-->
<!--        </div>-->
<!--        <div>-->
<!--            <label for="name">Change your name</label>-->
<!--            <input th:value="*{name}" type="text" id="name" name="name">-->
<!--        </div>-->

<!--        <div>-->
<!--            <label for="image"> Profile Image</label>-->
<!--            <input th:field="*{profileImageUrl}" name="image" id="image" type="url" placeholder="Enter your image url here">-->
<!--        </div>-->
<!--        <button>Submit</button>-->
<!--    </form>-->

<!--<div>-->

<!--    <h3>Favorites</h3>-->

<!--    <ul>-->
<!--        <li th:each="favorite, stat : ${favorites}" th:unless="${stat.index < stat.size -3}">-->
<!--            <h1><span th:text="${favorite.name}"></span></h1>-->
<!--            <p th:text="${favorite.description}"></p>-->
<!--            <img th:each="image, stat :${favorite.activityImages}" th:unless="${stat.index > 1}" th:src="${image.imageUrl}">-->

<!--            <a th:href="@{'/activity/' + ${favorite.id}}">See Activity</a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->

<!--    details of user input?-->
<!--    <form th:action="@{/user/favorites}" th:method="GET">-->
<!--        <button>Favorites</button>-->
<!--    </form>-->
<!--Working on edit password logic-->

<!--        <div>-->
<!--            <label for="password">Change your password</label>-->
<!--            <input th:field="*{password}" type="text" name="password" id="password" placeholder="Change your password">-->
<!--            <input th:field="*{password}" type="text" name="confirm" id="confirm" placeholder="Confirm Your password">-->
<!--        </div>-->

<nav th:insert="partials/partials.html :: footer"></nav>

    <th:block th:insert="partials/partials.html :: jquery" />
    <th:block th:insert="partials/partials.html :: bootstrap-js" />
    <script>
        $('#hide').click(function(event) {
            event.preventDefault();
            $('#edit').toggleClass('invisible');
        });
    </script>



</body>
</html>