<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="partials/partials.html :: head('Register')"></head>

<body>

    <nav th:insert="partials/partials.html :: navbar"></nav>

    <button onclick="goBack()" class="btn-primary" style="margin: 11px; background: black; color: #f4cdc1; border: none; border-radius: .25rem; position: absolute">Back</button>

    <h1 class="d-flex justify-content-center" style="font-size: 3rem">Create an Account</h1>

    <form th:action="@{/register}" method="POST" th:object="${user}" class="col-lg-4 offset-lg-4 col-sm-10 offset-sm-1 mb-0">
        <div class="form-group mt-0 mb-0">
            <label for="name"></label>
            <input id="name" th:field="*{name}" class="form-control p-2" placeholder="Name" style="font-size: 1rem"/>
        </div>
        <div class="form-group mt-0 mb-0">
            <label for="username"></label>
            <input id="username" th:field="*{username}" class="form-control p-2" placeholder="Username" style="font-size: 1rem"/>
        </div>
        <div class="form-group mt-0 mb-0">
            <label for="email"></label>
            <input id="email" th:field="*{email}" class="form-control p-2" placeholder="Email" style="font-size: 1rem"/>
        </div>
        <div class="form-group mt-0 mb-4">
            <label for="password"></label>
            <input id="password" type="password" th:field="*{password}" class="form-control p-2" placeholder="Password" style="font-size: 1rem"/>
        </div>

        <button type="submit" class="btn btn-primary d-flex justify-content-center" value="Sign me up!">Sign Up</button>
    </form>

    <nav th:insert="partials/partials.html :: footer"></nav>

    <th:block th:insert="partials/partials.html :: jquery" />
    <th:block th:insert="partials/partials.html :: bootstrap-js" />
</body>
</html>