<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:insert="partials/partials.html :: head('Showing Reviews')"></head>
<link rel="stylesheet" href="/css/citysites.css">
<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.home.css">
<body>

    <nav th:insert="partials/partials.html :: navbar"></nav>

    <button onclick="goBack()" class="btn-primary" style="margin: 11px; background: black; color: #f4cdc1; border: none; border-radius: .25rem; position: absolute">Back</button>

    <div>
<!--        other user reviews-->
        <h2>Other Reviews:</h2>
        <ul>
           <li th:each="review : ${reviews}">
               <img th:src="${review.userReview.profileImageUrl}">
               <h4 th:text="${review.userReview.username}"></h4>
               <span th:text="${review.rating}"></span>
               <p th:text="${review.description}"></p>
               <div sec:authorize="isAuthenticated()">
                   <div th:if="${#authentication.principal.id == review.userReview.id}">
                       <a th:href="@{'/reviews/' + ${review.id} + '/edit'}">Edit Post</a>
                       <form th:action="@{'/review/' + ${review.id} + '/delete/' + ${activity.id}}" th:method="POST">
                           <button>Delete Post</button>
                       </form>
                   </div>
               </div>
           </li>
        </ul>
    </div>

    <nav th:insert="partials/partials.html :: footer"></nav>

    <th:block th:insert="partials/partials.html :: jquery" />
    <th:block th:insert="partials/partials.html :: bootstrap-js" />
</body>
</html>