<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:insert="partials/partials.html :: head('CitySites')"></head>
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.welcome.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Handlee&amp;display=swap">

<body>
    <header class="text-center text-white masthead" style="background: url(&quot;https://images.unsplash.com/photo-1484627147104-f5197bcd6651?ixlib=rb-1.2.1&amp;q=85&amp;fm=jpg&amp;crop=entropy&amp;cs=srgb&amp;w=1000&quot;) left / cover no-repeat;height: 627px;">
        <nav class="navbar navbar-light navbar-expand-md" style="margin-top: -122px;">
            <div class="container-fluid">
                <div class="col d-flex justify-content-end">
                    <a class="btn btn-primary justify-content-md-end" href="/login" role="button" style="background: #f7d7cc;border-style: none;border-radius: 10px;color: rgb(0,0,0);margin-right: 10px;">Sign In</a>
                    <a class="btn btn-primary" href="/register" role="button" style="background: #f7d7cc;border-style: none;border-radius: 10px;color: rgb(0,0,0);">Register</a>
                </div>
            </div>
        </nav>
        <div class="row" style="margin-top: 45px;height: 128px;">
            <div class="col-sm-6 col-md-5 col-lg-4 offset-sm-1 offset-md-1 flex-column" style="margin-top: -0px;">
                <h1 class="d-flex justify-content-center" style="color: rgb(0,0,0);font-family: Handlee, serif;">CitySites</h1>
                <h3 class="d-flex justify-content-center" style="color: rgb(0,0,0);opacity: 0.43;">Know Where To Go</h3>
            </div>
        </div>
        <div class="row text-center d-flex justify-content-start" style="margin-left: 10px;">
            <div class="col-11 col-sm-8 col-md-6 col-lg-4 col-xl-4 offset-0 offset-sm-0 offset-md-0 offset-lg-1">
                <p style="color: rgb(0,0,0);">Welcome to CitySites. There is a fantastic city of wonders out there just waiting for you to explore. CitySites will show you where to go!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4 offset-0 offset-sm-1 flex-column justify-content-center">
                <div class="row">
                    <div class="col">
                        <div class="btn-group" role="group">
                            <a class="btn btn-primary" href="/home" role="button" style="margin-right: 10px;border-style: none;background: rgb(247,215,204);color: rgb(0,0,0);border-radius: 10px;">Map</a>
                            <a class="btn btn-primary" href="/about-us" role="button" style="background: #f7d7cc;border-style: none;border-radius: 10px;color: rgb(0,0,0);">About Us</a>
                        </div>
                    </div>
                </div>
                <form th:action="@{/search}" th:method="POST" class="d-flex justify-content-center">
                    <input name="userInput" id="userInput" class="form-control" type="text" style="margin-right: 10px;margin-top: 13px;border-radius: 10px;border-width: 4px;border-color: #f7d7cc;width: 230.656px;" placeholder="Search">
                    <button id="anything" class="btn btn-primary" type="submit" style="margin-top: 10px;border-style: none;border-color: #f7d7cc;border-radius: 10px;color: rgb(0,0,0);background: #f7d7cc;">Search</button>
                </form>
            </div>
        </div>
    </header>
    <section class="text-center bg-light features-icons" style="height: 502.203px;">
        <div class="container d-lg-flex justify-content-lg-center align-items-lg-start" style="margin-bottom: 54px;height: 77px;">
            <div class="row">
                <div class="col">
                    <h3 class="d-lg-flex">Most Famous Places</h3>
                    <h4 style="opacity: 0.44;">Recommended&nbsp;</h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4" style="border-style: none;">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3"><img src="/assets/img/dallas.jpeg" style="width: 262px;height: 148px;margin-bottom: 10px;border-radius: 10px;">
                        <h5>Dallas</h5>
                        <p class="lead mb-0" style="height: 85px;">This theme will look great on any device, no matter the size!</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3"><img src="/assets/img/sana.jpeg" style="width: 262px;height: 148px;margin-bottom: 10px;border-radius: 10px;">
                        <h5>San Antonio</h5>
                        <p class="lead mb-0" style="height: 85px;">This theme will look great on any device, no matter the size!</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3"><img src="/assets/img/hou.jpeg" style="width: 262px;height: 148px;margin-bottom: 10px;border-radius: 10px;">
                        <h5>Houston</h5>
                        <p class="lead mb-0" style="height: 85px;">This theme will look great on any device, no matter the size!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<nav th:insert="partials/partials.html :: footer"></nav>

<script src="/keys.js"></script>
<script src="/js/geocode-mapbox-utils.js"></script>
<script src="/js/map.js"></script>

<th:block th:insert="partials/partials.html :: jquery" />
<th:block th:insert="partials/partials.html :: bootstrap-js" />
</body>

</html>