<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="partials/partials.html :: head('CitySites')"></head>
<body>

    <header th:insert="partials/partials.html :: header('CitySites')"></header>

<!--    <nav th:insert="partials/partials.html :: navbar"></nav>-->
<div>
    <h2 class="display-4 text-center my-5" >Know Where to Go</h2>
<div class="d-flex justify-content-center row col-12 text-center p-0 m-0">
    <p>Description of App: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam fuga hic odio suscipit voluptas? Asperiores aut culpa, eum mollitia nemo nihil odio pariatur quaerat sapiente sequi ut velit vero vitae? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur at consequatur culpa cum deserunt excepturi ipsa iure molestias pariatur, possimus quaerat quam quisquam repellendus saepe tempore velit veritatis voluptatibus. </p>
</div>

<!--    <a class="btn btn-outline-primary btn-lg center my-5" th:href="@{/home}">Go To Map</a>-->

<!--    <form th:action="@{/login}" method="post">-->
<!--        <label for="username">Username</label>-->
<!--        <input id="username" name="username" type="text" />-->
<!--        <label for="password">Password</label>-->
<!--        <input id="password" name="password" type="password" />-->
<!--        <input type="submit" value="Log In" />-->
<!--    </form>-->

<!--    <a class="nav-link" >Forgot Password?</a>-->
<!--    <a class="nav-link" th:href="@{/register}">Register</a>-->

    <div class="card-deck mx-3">
        <div class="card" style="width: 20rem; height: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Sign In/Sign Up</h5>
                <p class="card-text">Sign in to your account or create an account with us.</p>
                <a href="/login" class="btn btn-primary">Sign Up/Sign In</a>
            </div>
        </div>
        <div class="card" style="width: 20rem; height: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Map</h5>
                <p class="card-text">Head over to our home page! Here you can see our map with many activities:</p>
                <a href="/home" class="btn btn-primary">Go to Map</a>
            </div>
        </div>
    </div>
    <div class="card-deck mt-3 mx-3">
        <div class="card" style="width: 20rem; height: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Looking to Create an Activity?</h5>
                <p class="card-text">Go to our activity creation form here:</p>
                <a href="/activity/create" class="btn btn-primary">Create an Activity</a>
            </div>
        </div>
        <div class="card" style="width: 20rem; height: 20rem;">
            <div class="card-body">
                <h5 class="card-title">Search</h5>
                <div class="form-group">
                    <form action="/welcome" method="POST">
                        <input type="text" class="form-control input-lg mt-4 mb-3" placeholder="Enter a City Here..." name="homeInput">
                        <br>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <th:block th:insert="partials/partials.html :: bootstrap-js" />
    </div>
</body>
</html>