<!DOCTYPE html>
<html lang="en">
<head th:insert="partials/partials.html :: head('Error')"></head>
<body>
<nav th:insert="partials/partials.html :: navbar"></nav>
<h1> Uh oh, Spagettios you seem to have discovered an error</h1>
<img src="https://i.kym-cdn.com/photos/images/newsfeed/001/402/192/398.jpg" alt="">

<nav th:insert="partials/partials.html :: footer"></nav>

<th:block th:insert="partials/partials.html :: jquery"/>
<th:block th:insert="partials/partials.html :: bootstrap-js"/>
<script src="/js/back-btn-logic.js"></script>

</body>
</html>