h1 {
    font-size: 47px;
    font-weight: bold;
    margin-top: 29px;
    text-align: center;
}

body {
    background-color: #f4cdc1;
    /*position: relative;*/
}

html, body {
    /*overflow: auto;*/
    min-height: 100vh;
}